* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  color: #eee; }

button:focus {
  outline: none; }

p.chukieu {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: #ff6600; }

#header-diner {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%; }
  #header-diner .navbar {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; }
    #header-diner .navbar .navbar-brand {
      font-size: 3rem;
      color: #ffffff;
      font-weight: bold; }
  #header-diner .search_menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem; }
    #header-diner .search_menu .change_theme,
    #header-diner .search_menu .menu {
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none; }
      #header-diner .search_menu .change_theme i,
      #header-diner .search_menu .menu i {
        font-size: 2rem;
        color: white; }
    #header-diner .search_menu .change_theme .fa-moon {
      display: none; }
    #header-diner .search_menu .form-inline {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #232220;
      height: 3.4rem;
      border-radius: 6px; }
      #header-diner .search_menu .form-inline button,
      #header-diner .search_menu .form-inline input {
        color: #c2d0da;
        border: none; }
      #header-diner .search_menu .form-inline input {
        margin-right: 0 !important;
        background-color: transparent;
        border: 0px solid;
        padding: 10px 10px 10px 20px;
        font-size: 1.3rem; }
        #header-diner .search_menu .form-inline input:focus {
          box-shadow: none; }
    #header-diner .search_menu .modal {
      background-color: rgba(0, 0, 0, 0.5); }
      #header-diner .search_menu .modal .modal-dialog {
        max-width: 100%; }
    #header-diner .search_menu #menu_Modal .modal-content {
      background-color: transparent;
      border: none; }
      #header-diner .search_menu #menu_Modal .modal-content .modal-header {
        border-bottom: none;
        margin-right: 40px; }
        #header-diner .search_menu #menu_Modal .modal-content .modal-header .close {
          background-color: #ff6600;
          color: #ffffff;
          opacity: 1;
          border-radius: 6px;
          position: relative; }
          #header-diner .search_menu #menu_Modal .modal-content .modal-header .close i {
            text-align: center;
            position: absolute;
            transform: translate(-50%, -50%);
            font-size: 1.5rem; }
      #header-diner .search_menu #menu_Modal .modal-content .modal-body {
        text-align: center;
        line-height: 3rem; }
        #header-diner .search_menu #menu_Modal .modal-content .modal-body li {
          width: 200px;
          margin: 8px auto; }
          #header-diner .search_menu #menu_Modal .modal-content .modal-body li:hover a {
            color: #ff6600; }
          #header-diner .search_menu #menu_Modal .modal-content .modal-body li a {
            color: #ffffff;
            font-size: 1.5rem;
            font-weight: bold;
            width: 100%;
            display: block; }

#root.light #header-diner .form-inline {
  background-color: white; }
  #root.light #header-diner .form-inline button {
    color: #232220; }
#root.light #about_us {
  background-color: #ffffff; }
  #root.light #about_us .about_title h3 {
    color: #232220; }
  #root.light #about_us .about_content p,
  #root.light #about_us .about_content span {
    color: #232220; }
#root.light #category {
  background-color: #f7f7f7; }
  #root.light #category .category_title h3 {
    color: #282828; }

#banner {
  width: 100%;
  background-image: linear-gradient(to right, #ff6600, rgba(5, 3, 0, 0.2)), url("../img/banner1.jpg");
  background-size: cover;
  background-attachment: fixed; }
  #banner .banner_content {
    position: absolute;
    max-width: 600px; }
    #banner .banner_content h3 {
      font-weight: bold; }
    #banner .banner_content p {
      color: #ffffff;
      font-size: 1.3rem;
      line-height: 1.8;
      margin-top: 2rem; }
    #banner .banner_content button:hover span, #banner .banner_content button:hover i {
      color: #ff6600; }
    #banner .banner_content button span,
    #banner .banner_content button i {
      font-size: 1.5rem;
      font-weight: bold;
      color: #ffffff; }

#about_us {
  background-color: #282828;
  width: 100%; }
  #about_us .about_us {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    #about_us .about_us .about_title h3 {
      color: #ffffff;
      font-weight: bold; }
    #about_us .about_us .about_title p {
      color: #ff6600;
      font-family: "Pacifico", cursive; }
    #about_us .about_us .about_content p,
    #about_us .about_us .about_content span {
      color: #c2d0da; }

#restaurant {
  background-color: #ff6600; }
  #restaurant .restaurant_img img {
    width: 100%; }
  #restaurant .restaurant_content {
    padding: 4%; }
    #restaurant .restaurant_content .introduction {
      width: 90%; }
      #restaurant .restaurant_content .introduction .chukieu {
        color: #ffffff;
        margin-bottom: 0; }
      #restaurant .restaurant_content .introduction h3 {
        font-size: 3rem;
        font-weight: bold; }
      #restaurant .restaurant_content .introduction span {
        color: #ffdfc9;
        font-size: 1.3rem;
        display: block;
        margin: 1.6rem 0 3.5rem; }
    #restaurant .restaurant_content .deal_food .deal_food_item:hover .icon i {
      color: #e1ae00; }
    #restaurant .restaurant_content .deal_food .deal_food_item .icon {
      width: 72px;
      height: 72px;
      background-color: white;
      border-radius: 6px; }
      #restaurant .restaurant_content .deal_food .deal_food_item .icon i {
        color: #ff6600;
        font-size: 2rem;
        margin: 50% 0 0 50%;
        transform: translate(-50%, -50%); }
    #restaurant .restaurant_content .deal_food .deal_food_item h3 {
      font-weight: bold;
      margin: 2rem 0 1rem 0;
      cursor: pointer; }
    #restaurant .restaurant_content .deal_food .deal_food_item p {
      color: #ffdfc9;
      font-size: 1.3rem;
      width: 90%; }

#category {
  background-color: #282828;
  padding: 4% 0; }
  #category .category_title {
    text-align: center; }
    #category .category_title h3 {
      font-size: 3rem;
      font-weight: bold; }
  #category .category_content {
    margin: 4% auto 0 auto; }
    #category .category_content li {
      padding: 15px;
      position: relative;
      cursor: pointer; }
      #category .category_content li:hover img {
        filter: brightness(90%); }
      #category .category_content li .name_price {
        position: absolute;
        z-index: 1;
        bottom: 8%;
        left: 11%; }
        #category .category_content li .name_price h6 {
          font-size: 2rem;
          font-weight: bold; }
        #category .category_content li .name_price span {
          color: #e1ae00;
          font-size: 1.5rem; }
      #category .category_content li::after {
        content: "";
        position: absolute;
        left: 15px;
        right: 15px;
        top: 70%;
        bottom: 15px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.5) 100%); }
      #category .category_content li img {
        border-radius: 6px;
        width: 100%;
        transition: all 0.5s; }

#list_food {
  background-color: #232220;
  color: #c2d0da;
  padding: 5% 0; }
  #list_food .row {
    margin: 0 auto; }
    #list_food .row div .boder {
      border: 1px solid rgba(255, 255, 255, 0.1);
      margin: 15px 0rem;
      padding: 40px; }
      #list_food .row div .boder:hover .title .icon {
        background-color: #ff6600; }
        #list_food .row div .boder:hover .title .icon i {
          color: #ffffff; }
      #list_food .row div .boder .title {
        display: flex;
        align-items: center;
        margin-bottom: 2rem; }
        #list_food .row div .boder .title .icon {
          width: 72px;
          height: 72px;
          background-color: #282828;
          border-radius: 6px;
          transition: all 0.5s; }
          #list_food .row div .boder .title .icon i {
            color: #ff6600;
            font-size: 1.5rem;
            margin: 50% 0 0 50%;
            transform: translate(-50%, -50%); }
        #list_food .row div .boder .title .name {
          margin-left: 2rem;
          height: 72px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly; }
          #list_food .row div .boder .title .name p {
            font-size: 1.2rem; }
          #list_food .row div .boder .title .name h6 {
            font-size: 1.6rem;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.5s;
            min-width: 150px; }
            #list_food .row div .boder .title .name h6:hover {
              color: #ff6600; }
      #list_food .row div .boder p {
        font-size: 1.2rem;
        margin-bottom: 0; }

@media only screen and (max-width: 767px) {
  #header-diner .form-inline {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  #header-diner .search_menu #menu_Modal .modal-content .modal-header {
    margin-top: 40px; }
    #header-diner .search_menu #menu_Modal .modal-content .modal-header .close {
      height: 40px;
      width: 40px; }

  #banner {
    height: 450px;
    background-position: left; }
    #banner .banner_content {
      top: 115px;
      left: 20px; }

  #about_us .about_us {
    padding: 50px 0; }
    #about_us .about_us .about_title h3 {
      font-size: 1.5rem; }
    #about_us .about_us .about_title p {
      font-size: 1.3rem; }
    #about_us .about_us .about_content p,
    #about_us .about_us .about_content span {
      font-size: 1rem; }

  #restaurant .restaurant_img {
    height: 70%;
    overflow: hidden; }
    #restaurant .restaurant_img img {
      width: 94%;
      margin: 6% 3%; }
  #restaurant .restaurant_content {
    margin-left: 5%; }
    #restaurant .restaurant_content .introduction .chukieu {
      font-size: 1rem; }
    #restaurant .restaurant_content .introduction h3 {
      font-size: 1.5rem; }
    #restaurant .restaurant_content .introduction span {
      font-size: 1rem; }
    #restaurant .restaurant_content .deal_food .deal_food_item h3 {
      font-size: 1.2rem; }
    #restaurant .restaurant_content .deal_food .deal_food_item p {
      font-size: 1rem; }

  #category .category_title .chukieu {
    font-size: 1rem; }
  #category .category_title h3 {
    font-size: 1.5rem; }
  #category .category_content .name_price span,
  #category .category_content .name_price h6 {
    font-size: 1rem !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #banner {
    height: 600px;
    background-position: left; }
    #banner .banner_content {
      top: 220px;
      left: 100px; }
      #banner .banner_content h3 {
        font-size: 2.5rem; }
      #banner .banner_content button {
        padding: 0.7rem 2.5rem;
        border: 2px solid #ffffff; }

  #about_us .about_us {
    padding: 100px 0; }

  #restaurant .restaurant_img {
    height: 70%;
    overflow: hidden; }
    #restaurant .restaurant_img img {
      width: 94%;
      margin: 6% 3%; }
  #restaurant .restaurant_content {
    margin-left: 2%; } }
@media only screen and (min-width: 992px) {
  .row {
    max-width: 1200px; }

  #header-diner .search_menu #menu_Modal .modal-content .modal-header .close {
    height: 50px;
    width: 50px; }

  #banner {
    height: 100vh;
    background-position: center; }
    #banner .banner_content {
      top: 220px;
      left: 100px; }
      #banner .banner_content h3 {
        font-size: 3.5rem; }
      #banner .banner_content button {
        padding: 1rem 3rem;
        border: 3px solid #ffffff; }
        #banner .banner_content button:hover span, #banner .banner_content button:hover i {
          color: #ff6600; }
        #banner .banner_content button span,
        #banner .banner_content button i {
          font-size: 1.5rem;
          font-weight: bold;
          color: #ffffff; }

  #about_us .about_us {
    padding: 100px 0; }
    #about_us .about_us .about_title h3 {
      font-size: 3rem; }
    #about_us .about_us .about_title p {
      font-size: 1.5rem; }
    #about_us .about_us .about_content p,
    #about_us .about_us .about_content span {
      font-size: 1.5rem; }

  #restaurant .row {
    max-width: 100%; }
  #restaurant .restaurant_img {
    background-image: url("../img/banner3.jpg");
    background-position: center;
    background-size: cover; }
    #restaurant .restaurant_img img {
      display: none; } }

/*# sourceMappingURL=style.css.map */
