* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
    color: #eee;
}
button:focus {
    outline: none;
}
// khai báo biến - start
$bg-dark1: #232220;
$bg-dark2: #22211f;
$bg-dark3: #282828;

$primary-color: #ff6600;
$second-color: #e1ae00;

$text-white1: #ffffff;
$text-white2: #c2d0da;
$heading-color: #232121;

$fw-1: bold;
$fw-900: 900;

$radius: 6px;
// khai báo biến - end

p.chukieu {
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    color: $primary-color;
}
// start cài đặt responsive
$res_mobile: "only screen and (max-width: 767px)";
$res_tablet: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_PC: "only screen and (min-width: 992px)";
@mixin responsive_mobile() {
    @media #{$res_mobile} {
        @content;
    }
}
@mixin responsive_tablet() {
    @media #{$res_tablet} {
        @content;
    }
}
@mixin responsive_PC() {
    @media #{$res_PC} {
        @content;
    }
}
// end cài đặt responsive
#header-diner {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    .navbar {
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        .navbar-brand {
            font-size: 3rem;
            color: $text-white1;
            font-weight: $fw-1;
        }
    }
    .search_menu {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 1rem;
        .change_theme,
        .menu {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            i {
                font-size: 2rem;
                color: white;
            }
        }
        .change_theme {
            .fa-moon {
                display: none;
            }
        }
        .form-inline {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $bg-dark1;
            height: 3.4rem;
            border-radius: $radius;
            button,
            input {
                color: $text-white2;
                border: none;
            }
            input {
                margin-right: 0 !important;
                background-color: transparent;
                border: 0px solid;
                padding: 10px 10px 10px 20px;
                font-size: 1.3rem;
                &:focus {
                    box-shadow: none;
                }
            }
        }
        .modal {
            background-color: rgba(0, 0, 0, 0.5);
            .modal-dialog {
                max-width: 100%;
            }
        }
        #menu_Modal .modal-content {
            background-color: transparent;
            border: none;
            .modal-header {
                border-bottom: none;
                margin-right: 40px;
                .close {
                    background-color: $primary-color;
                    color: $text-white1;
                    opacity: 1;
                    border-radius: $radius;
                    position: relative;
                    i {
                        text-align: center;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        font-size: 1.5rem;
                    }
                }
            }
            .modal-body {
                text-align: center;
                line-height: 3rem;
                li {
                    width: 200px;
                    margin: 8px auto;
                    &:hover a {
                        color: $primary-color;
                    }
                    a {
                        color: $text-white1;
                        font-size: 1.5rem;
                        font-weight: $fw-1;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}
#root.light {
    #header-diner {
        .form-inline {
            background-color: white;
            button {
                color: $bg-dark1;
            }
        }
    }
    #about_us {
        background-color: $text-white1;
        .about_title {
            h3 {
                color: $bg-dark1;
            }
        }
        .about_content {
            p,
            span {
                color: $bg-dark1;
            }
        }
    }
    #category {
        background-color: #f7f7f7;
        .category_title {
            h3 {
                color: $bg-dark3;
            }
        }
    }
    #list_food {
        background-color: white;
        color: $bg-dark3;
        .boder {
            border: 1px solid #eee;
            &:hover .title .icon {
                background-color: $primary-color;
                i {
                    color: $text-white1;
                }
            }
            .title {
                .icon {
                    background-color: rgba(130, 115, 252, 0.05);
                }
                .name {
                    h6 {
                        color: $heading-color;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    #deliciousness {
        background-color: #fff;
        .count_number {
            .count_item {
                .wrap {
                    background-color: #fff;
                    &:hover {
                        box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.15);
                    }
                }
                span,
                p {
                    color: $bg-dark1;
                }
            }
        }
        #video_Modal {
            .modal-content {
                border: none;
            }
        }
    }
}
#banner {
    width: 100%;
    background-image: linear-gradient(to right, #ff6600, rgba(5, 3, 0, 0.2)), url("../img/banner1.jpg");
    background-size: cover;

    background-attachment: fixed;
    .banner_content {
        position: absolute;

        max-width: 600px;
        h3 {
            font-weight: $fw-1;
        }
        p {
            color: $text-white1;
            font-size: 1rem;
            line-height: 1.8;
            margin-top: 0.5rem;
        }
        button {
            // padding: 1rem 3rem;
            // border: 3px solid $text-white1;
            &:hover span,
            &:hover i {
                color: $primary-color;
            }
            span,
            i {
                font-size: 1.5rem;
                font-weight: $fw-1;
                color: $text-white1;
            }
        }
    }
}

#about_us {
    background-color: $bg-dark3;
    width: 100%;
    .about_us {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .about_title {
            h3 {
                color: $text-white1;
                font-weight: $fw-1;
            }
            p {
                color: $primary-color;
                font-family: "Pacifico", cursive;
            }
        }
        .about_content {
            p,
            span {
                color: $text-white2;
            }
        }
    }
}

#restaurant {
    background-color: $primary-color;
    .restaurant_img {
        img {
            width: 100%;
        }
    }
    .restaurant_content {
        padding: 4%;
        .introduction {
            width: 90%;
            .chukieu {
                color: $text-white1;
                margin-bottom: 0;
            }
            h3 {
                font-size: 3rem;
                font-weight: $fw-1;
            }
            span {
                color: #ffdfc9;
                font-size: 1.3rem;
                display: block;
                margin: 1.6rem 0 3.5rem;
            }
        }
        .deal_food {
            .deal_food_item {
                &:hover .icon i {
                    color: $second-color;
                }
                .icon {
                    width: 72px;
                    height: 72px;
                    background-color: white;
                    border-radius: $radius;
                    i {
                        color: $primary-color;
                        font-size: 2rem;
                        margin: 50% 0 0 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                h3 {
                    font-weight: $fw-1;
                    margin: 2rem 0 1rem 0;
                    cursor: pointer;
                }
                p {
                    color: #ffdfc9;
                    font-size: 1.3rem;
                    width: 90%;
                }
            }
        }
    }
}

#category {
    background-color: $bg-dark3;
    padding: 4% 0;
    .category_title {
        text-align: center;
        h3 {
            font-size: 3rem;
            font-weight: $fw-1;
        }
    }
    .category_content {
        margin: 4% auto 0 auto;
        li {
            padding: 15px;
            position: relative;
            cursor: pointer;
            &:hover img {
                filter: brightness(90%);
            }
            .name_price {
                position: absolute;
                z-index: 1;
                bottom: 8%;
                left: 11%;
                h6 {
                    font-size: 2rem;
                    font-weight: $fw-1;
                }
                span {
                    color: $second-color;
                    font-size: 1.5rem;
                }
            }
            &::after {
                content: "";
                position: absolute;
                left: 15px;
                right: 15px;
                top: 70%;
                bottom: 15px;
                background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0) 0,
                    rgba(0, 0, 0, 0.5) 70%,
                    rgba(0, 0, 0, 0.5) 100%
                );
            }
            img {
                border-radius: $radius;
                width: 100%;
                transition: all 0.5s;
            }
        }
    }
}

#list_food {
    background-color: $bg-dark1;
    color: $text-white2;
    padding: 5% 0;
    .row {
        margin: 0 auto;
        div {
            .boder {
                border: 1px solid rgba(255, 255, 255, 0.1);
                margin: 15px 0rem;
                padding: 40px;
                &:hover .title .icon {
                    background-color: $primary-color;
                    i {
                        color: $text-white1;
                    }
                }
                .title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 2rem;
                    .icon {
                        width: 72px;
                        height: 72px;
                        background-color: $bg-dark3;
                        border-radius: $radius;
                        transition: all 0.5s;
                        i {
                            color: $primary-color;
                            font-size: 1.5rem;
                            margin: 50% 0 0 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .name {
                        margin-left: 2rem;
                        height: 72px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                        p {
                            font-size: 1.2rem;
                        }
                        h6 {
                            font-size: 1.6rem;
                            font-weight: $fw-1;
                            cursor: pointer;
                            transition: all 0.5s;
                            min-width: 150px;
                            margin-bottom: 0;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
                p {
                    font-size: 1.2rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}
@keyframes animation_play {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25), 0 0 0 10px rgba(255, 255, 255, 0.25),
            0 0 0 20px rgba(255, 255, 255, 0.25);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.25), 0 0 0 20px rgba(255, 255, 255, 0.25),
            0 0 0 40px rgba(50, 100, 245, 0);
    }
}
#deliciousness {
    background-color: $bg-dark1;
    .background {
        background-image: url("../img/banner2.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .deliciousness_content {
            position: absolute;
            z-index: 1;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            h3 {
                font-size: 3rem;
                color: $text-white1;
                font-weight: $fw-1;
                width: 90%;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            .deliciousness_button {
                margin-top: 5%;
                button {
                    padding: 0.6rem 1.3rem;
                    margin: 0 1rem;
                    span,
                    i {
                        font-size: 1.2rem;
                        font-weight: $fw-900;
                        margin: 0 0.5rem;
                    }
                }
                .btn_contact_us {
                    background-color: $primary-color;
                    color: $text-white1;
                    &:hover {
                        filter: brightness(80%);
                    }
                }
                .btn_read_more {
                    border: 2px solid white;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
        .count_number {
            position: absolute;
            top: 82%;
            left: 10%;
            right: 10%;
            color: $text-white1;
            z-index: 1;
            margin: 0 auto;
            .count_item {
                .wrap {
                    padding: 28px 20px 8px;
                    background-color: $bg-dark1;
                    border-radius: $radius;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
                    transition: all 0.5s;
                    &:hover {
                        transform: translateY(-0.25rem);
                        box-shadow: rgba(46, 41, 51, 8%) 0px 2px 4px, rgba(71, 63, 79, 16%) 0px 5px 0px;
                    }
                    .icon {
                        width: 72px;
                        height: 72px;
                        border-radius: 50%;
                        background-color: $primary-color;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        i {
                            font-size: 1.5rem;
                            margin: 50% 0 0 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    p {
                        text-align: center;
                        margin-top: 1rem;
                        font-size: 1.5rem;
                    }
                    span {
                        display: block;
                        font-size: 2.5rem;
                        font-weight: $fw-1;
                        margin-top: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    .background_video {
        width: 100%;
        margin-top: 15%;
        .video {
            margin: 0 auto;
            width: 100%;
            border-radius: $radius;
            background-image: url("../img/banner3.jpg");
            background-position: center;
            background-size: cover;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0%;
                top: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }
            a {
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $text-white1;
                width: 72px;
                height: 72px;
                border-radius: 50%;
                text-align: center;
                transition: all 0.5s;
                &:hover {
                    width: 90px;
                    height: 90px;
                    background-color: $primary-color;
                    i {
                        color: white;
                        font-size: 2rem;
                    }
                }
                animation-name: animation_play;
                animation-duration: 2s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                i {
                    margin-top: 50%;
                    transform: translateY(-50%);
                    color: $primary-color;
                    transition: all 0.5s;
                    font-size: 1.5rem;
                }
            }
        }
        #video_Modal {
            background-color: rgba(0, 0, 0, 0.8);
            .modal-dialog {
                width: 100%;
                max-width: 100%;
                .modal-content {
                    background-color: transparent;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50vh;
                    margin-bottom: auto;
                    width: 800px;
                    transform: translateY(-50%);
                    .modal-header {
                        border: none;
                        button {
                            position: absolute;
                            top: 10px;
                            right: 11px;
                            color: $text-white1;
                        }
                    }
                }
            }
        }
    }
}
@include responsive_mobile {
    #header-diner {
        .form-inline {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        .search_menu {
            #menu_Modal .modal-content {
                .modal-header {
                    margin-top: 40px;
                    .close {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
    #banner {
        height: 450px;
        background-position: left;
        .banner_content {
            top: 115px;
            left: 20px;
        }
    }
    #about_us {
        .about_us {
            padding: 50px 0;
            .about_title {
                h3 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1.3rem;
                }
            }
            .about_content {
                p,
                span {
                    font-size: 1rem;
                }
            }
        }
    }
    #restaurant {
        .restaurant_img {
            height: 70%;
            overflow: hidden;
            img {
                width: 94%;
                margin: 6% 3%;
            }
        }
        .restaurant_content {
            margin-left: 5%;
            .introduction {
                .chukieu {
                    font-size: 1rem;
                }
                h3 {
                    font-size: 1.5rem;
                }
                span {
                    font-size: 1rem;
                }
            }
            .deal_food {
                .deal_food_item {
                    h3 {
                        font-size: 1.2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    #category {
        .category_title {
            .chukieu {
                font-size: 1rem;
            }
            h3 {
                font-size: 1.5rem;
            }
        }
        .category_content {
            .name_price {
                span,
                h6 {
                    font-size: 1rem !important;
                }
            }
        }
    }
    #deliciousness {
        height: 1230px;
        .background {
            height: 320px;
            .deliciousness_content {
                min-width: 375px;
                h3 {
                    font-size: 1.5rem;
                }
                .deliciousness_button {
                    button {
                        padding: 0.5rem;
                        margin: 0 0.5rem;
                        span,
                        i {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .count_number {
                left: 0;
                right: 0;
                top: 100%;
                .count_item {
                    .wrap {
                        box-shadow: none;
                        padding: 20px 0 0;
                        .icon {
                            width: 68px;
                            height: 68px;
                            font-size: 1.5rem;
                        }
                        span {
                            font-size: 2rem;
                        }
                        p {
                            font-size: 1rem;
                            margin-top: 0;
                            color: $text-white2;
                        }
                    }
                }
            }
        }
        .background_video {
            height: 500px;
            margin-top: 120%;
            .video {
                height: 400px;
            }
            #video_Modal {
                .modal-dialog {
                    margin: 0;
                    .modal-content {
                        width: 100%;
                        .modal-header {
                            button {
                                top: -12px;
                                left: 305px;
                            }
                        }
                    }
                    .modal-body {
                        padding: 0;
                        max-width: 100%;
                        iframe {
                            width: 390px;
                            height: 195px;
                        }
                    }
                }
            }
        }
    }
}
@include responsive_tablet {
    #banner {
        height: 600px;
        background-position: left;
        .banner_content {
            top: 220px;
            left: 100px;
            h3 {
                font-size: 2.5rem;
            }
            button {
                padding: 0.7rem 2.5rem;
                border: 2px solid $text-white1;
            }
        }
    }
    #about_us {
        .about_us {
            padding: 100px 0;
        }
    }
    #restaurant {
        .restaurant_img {
            height: 70%;
            overflow: hidden;
            img {
                width: 94%;
                margin: 6% 3%;
            }
        }
        .restaurant_content {
            margin-left: 2%;
        }
    }
    #deliciousness {
        .background {
            height: 360px;
            .deliciousness_content {
                top: 50%;
                transform: translate(-50%, -50%);
                width: 85%;
                h3 {
                    font-size: 2.5rem;
                    text-align: center;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                .deliciousness_button {
                    button {
                        padding: 0.8rem 2rem;
                        span,
                        i {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .count_number {
                position: absolute;
                top: 112%;
                left: 0%;
                right: 0%;
                .count_item {
                    .wrap {
                        padding: 12px 0;
                        p {
                            color: $text-white2;
                            font-size: 1.3rem;
                            margin-top: 0;
                        }
                        span {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        .background_video {
            height: 100%;
            .video {
                height: 400px;
                margin-top: 44%;
            }
            #video_Modal {
                .modal-dialog {
                    width: 100%;
                    height: 100%;
                    .modal-content {
                        .modal-header {
                            button {
                                right: 50px;
                            }
                        }
                        iframe {
                            width: 100%;
                            height: 475px;
                        }
                    }
                }
            }
        }
    }
}
@include responsive_PC {
    .row {
        max-width: 1200px;
    }
    #header-diner {
        .search_menu {
            #menu_Modal .modal-content {
                .modal-header .close {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
    #banner {
        height: 100vh;
        background-position: center;
        .banner_content {
            top: 200px;
            left: 100px;
            h3 {
                font-size: 3.5rem;
            }
            button {
                padding: 0.8rem 2.5rem;
                border: 2px solid $text-white1;
                &:hover span,
                &:hover i {
                    color: $primary-color;
                }
                span,
                i {
                    font-size: 1.1rem;
                    font-weight: $fw-1;
                    color: $text-white1;
                }
            }
        }
    }
    #about_us {
        .about_us {
            padding: 100px 0;
            .about_title {
                h3 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
            .about_content {
                p,
                span {
                    font-size: 1.5rem;
                }
            }
        }
    }
    #restaurant {
        .row {
            max-width: 100%;
        }
        .restaurant_img {
            background-image: url("../img/banner3.jpg");
            background-position: center;
            background-size: cover;
            img {
                display: none;
            }
        }
    }
    #deliciousness {
        .background {
            height: 490px;
            .deliciousness_content {
                width: 70%;
            }
        }
        .background_video {
            iframe,
            video {
                width: 750px;
                height: 425px;
            }
            .video {
                height: 500px;
            }
            #video_Modal {
                .modal-dialog {
                    max-width: 100%;
                    // margin-top: 12%;
                    .modal-content {
                        // width: 43%;

                        .modal-header {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
